<footer id="footer">
    <div class="container ">

        <div class="row hidden-xs tl mt30">

            <div class="col-sm-2">
                <figure class="mt15">
                    <img src="assets/img/logo.png" alt="" class=" w80-">
                </figure>
            </div>
            <div class="col-sm-2">
                <h4>About</h4>
                <ul class="">
                    <li><a href="/en/about.php">Company</a></li>
                    <!-- <li><a href="/en/video.php">Video</a></li> -->
                    <li><a href="/en/supervise.php">Supervise</a></li>
                    <li><a href="/en/secrecy.php">Protocol</a></li>
                    <li><a href="/en/law.php">Clause</a></li>
                </ul>

            </div>
            <div class="col-sm-2">
                <h4>Account</h4>
                <ul class="">
                    <li><a href="http://office.nunfx.com" class="nav_a">Management</a></li>
                    <li><a href="http://office.nunfx.com/Home/Reg/index.html" class="nav_a">Real Account</a></li>
                </ul>

            </div>
            <div class="col-sm-2">
                <h4>platform</h4>
                <ul class="">
                    <li><a href="/en/mt4-pc.php">PC for MT4</a></li>
                    <li><a href="/en/mt4-mac.php">Mac for MT4</a></li>
                    <li><a href="/en/mt4-ipad.php">iPad for MT4</a></li>
                    <li><a href="/en/mt4-iphone.php">iPhone for MT4</a></li>
                    <li><a href="/en/mt4-android.php">Android for MT4</a></li>

                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Products</h4>
                <ul class="">
                    <li><a href="/en/pro-forex.php">G10</a></li>
                    <li><a href="/en/pro-exotic.php">Exotic</a></li>
                    <li><a href="/en/pro-gold.php">Spot Gold</a></li>
                    <li><a href="/en/pro-silver.php">Spot Silves</a></li>
                    <li><a href="/en/pro-indices.php">Indices</a></li>
                    <li><a href="/en/pro-oil.php">Crude Oil</a></li>
                </ul>

            </div>

            <div class="col-sm-2">
                <h4>Partner</h4>
                <ul class="">
                    <li><a href="/en/advantage.php">advantage</a></li>
                    <li><a href="/en/partner.php">Partner</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt50 b1s999 hidden-xs">
        <h5 class="c999 lh50 fs16 mt15 tc">Risk Warning</h5>
        <p class="c999 mb15 lh20">Transactions in foreign exchange transactions and other leveraged products involve a relatively high risk, and it may not be suitable for all investors. Its high leverage both advantages and disadvantages. Before you are involved in Forex trading, you must consider your investment objectives, experience, and personal risk. You may face the loss of some or all of the funds, and the loss may be more than your initial investment principal; therefore, it is recommended that you do not venture to invest them with unexpected amount. Before the transaction,you should be aware of all the risks associated with foreign exchange trading, and seek advice from an independent financial advisor if necessary. Any information, opinions, research data or other information quote on the website do not constitute an investment or trade advice as an objective market comment. Anga also makes it clear it clear that any transaction losses resulting from the direct or indirect use of the above resources are not responsible.</p>
        <div style=" visibility: hidden">
            <!-- 代码统计 -->
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1263969950'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1263969950' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>

    </div>
    <a href="#" id="go-top"></a>
</footer>
<!--Start of Zendesk Chat Script-->
<!-- <script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?56LcdWDzXJjo6JLTBhEIW6NLlx9wJ4pw";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script> -->
<!--End of Zendesk Chat Script-->
