
<nav class="navbar navbar-default navbar-fixed-top tc bcfff"  style="margin-bottom: 0;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 10px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/" style="height: 60px!important;line-height: 50px;"><img src="assets/img/logo_b.png" alt="" class="h100-"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="height: 60px!important;">
            <ul class="nav navbar-nav ">
                 <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">关于NUN<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about.php" class="nav_a two_level_a">公司介绍</a></li>
                        <!-- <li><a href="/video.php" class="nav_a two_level_a">相关视频</a></li> -->
                        <li><a href="/supervise.php" class="nav_a two_level_a">监管资质</a></li>
                        <li><a href="/secrecy.php" class="nav_a two_level_a">保密协议</a></li>
                        <li><a href="/law.php" class="nav_a two_level_a">法律条款</a></li>
                    </ul>

                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">交易账户<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://office.nunfx.com" class="nav_a">账户管理中心</a></li>
                        <li><a href="http://office.nunfx.com/Home/Reg/index.html" class="nav_a">注册真实账户</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">交易平台<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mt4-pc.php" class="nav_a two_level_a">PC系统MT4</a></li>
                        <li><a href="/mt4-mac.php" class="nav_a two_level_a">Mac系统MT4</a></li>
                        <li><a href="/mt4-ipad.php" class="nav_a two_level_a">MT4 iPad终端</a></li>
                        <li><a href="/mt4-iphone.php" class="nav_a two_level_a">MT4 iPhone终端</a></li>
                        <li><a href="/mt4-android.php" class="nav_a two_level_a">MT4 Android终端</a></li>
                    </ul>
                </li>
                <!-- <li><a href="index.html#about" class="anchor nav_a ">交易平台<span class="border"></span></a></li> -->

                <li class="hidden-xs w120 br3 " id="logo_title"><a href="/" class="anchor nav_a ">NUN<span class="border"></span></a></li>

                <li  class="dropdown">
                    <a href="javascript:void(0);"  class="dropdown-toggle" data-toggle="dropdown">交易产品<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/calendar.php" class="nav_a two_level_a">财经日历</a></li>
                        <li><a href="/pro-forex.php" class="nav_a two_level_a">外汇主流盘</a></li>
                        <li><a href="/pro-exotic.php" class="nav_a two_level_a">外汇稀有盘</a></li>
                        <li><a href="/pro-gold.php" class="nav_a two_level_a">现货黄金</a></li>
                        <li><a href="/pro-silver.php" class="nav_a two_level_a">现货白银</a></li>
                        <li><a href="/pro-indices.php" class="nav_a two_level_a">指数</a></li>
                        <li><a href="/pro-oil.php" class="nav_a two_level_a">原油</a></li>
                    </ul>
                </li>

                <!-- <li><a href="/partner.php" class="anchor nav_a">合作伙伴<span class="border"></span></a></li> -->

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">合作伙伴<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/advantage.php" class="nav_a two_level_a">加盟优势</a></li>
                        <li><a href="/partner.php" class="nav_a two_level_a">代理加盟</a></li>
                        <li><a href="/white-labels.php" class="nav_a two_level_a">白标合作</a></li>
                        
                    </ul>
                </li>

                <li class="dropdown" >
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">语言 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/" class="two_level_a">中文</a></li>
                        <li><a href="/en" class="two_level_a">English</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="height: 60px;"></div>
